@using AmbalajliyoMVC.Helper
@using AmbalajliyoMVC.ViewModels
@model IEnumerable<CatalogViewModel>

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Katalog</h3>

            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PdfName)
                                </td>
                                <td>

                                    <a class="btn btn-info btn-lg me-2" asp-action="GetByIdCatalog" asp-route-id="@item.Id">Detay</a>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
