@model AmbalajliyoMVC.ViewModels.CatalogViewModel

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Katalog</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a asp-action="GetAllCatalog" asp-controller="IcerikYoneticisiCatalog" asp-route-id="@Model.Id">Kataloglar</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Katalog Detayları</a>
                </li>
            </ul>
        </div>

        <div class="card p-4 shadow-sm">
            <h4 class="mb-4">Katalog Detayları</h4>

            <div>
                @if (!string.IsNullOrEmpty(Model.PdfName))
                {
                    <p class="mb-2"><strong>Dosya: @Model.PdfName</strong></p>
                    <a href="/Catalog.Pdf/@Model.PdfName" target="_blank" class="btn btn-primary">Dosyayı Aç</a>
                }
                else
                {
                    <p>Dosya mevcut değil.</p>
                }
            </div>

        </div>
    </div>
</div>
