@* @{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Personel</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a asp-action="GetUserById" asp-controller="User" asp-route-id="id">Personel Detayları</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Personel Bilgilerini Güncelle</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="PasswordCheck" method="post">
                    <div class="form-group">
                        <label for="sifre">Kullanıcı Şifre</label>
                        <input type="password" name="sifre" id="sifre" class="form-control" required />
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Onayla</button>
                </form>
            </div>
        </div>
    </div>
</div> *@