@using AmbalajliyoMVC.ViewModels
@model CategoryViewModel

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Kategoriler</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href=" @Url.Action("GetAllCategory")">Kategori Listesi</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Kategori Güncelle</a>
                </li>
            </ul>
        </div>
        <div>
            <h4>Kategori</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Kategori Adı</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
            </dl>
        </div>

        <!-- Display products related to the category -->
        <div>
            <h4>Kategoriye Ait Ürünler</h4>
            <hr />
            @{
                var products = ViewData["Products"] as List<ProductViewModel>;
                if (products != null && products.Any())
                {
                    <p>Toplam Ürün Sayısı: @products.Count</p>
                    <ul>
                        @foreach (var product in products)
                        {
                            <li>@product.Name</li> <!-- Assuming ProductViewModel has a Name property -->
                        }
                    </ul>
                }
                else
                {
                    <p>Kategoriye ait ürün bulunmamaktadır.</p>
                }
            }
        </div>

        <div>
            <a asp-action="UpdateCategory" asp-route-id="@Model?.Id">Güncelle</a> |
            <a asp-action="GetAllCategory">Listeye geri dön</a>
        </div>
    </div>
</div>
